.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
}

.container {
  width: 100%;
  position: relative;
}

.articleList {
  width: 90%;
  align-self: center;
  justify-content: center;
}
