.aroundGrid {
  width: 90%;
  min-height: 400px;
  margin: 4%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  font-family: "Raleway";
}

.gridContainer {
  display: grid;
  grid-template-columns: 0.05fr 10px 0.125fr 10px 0.125fr 10px 0.45fr 10px 0.25fr 10px;
  grid-template-rows: auto 20px auto 20px auto 20px auto 20px;
}

#coding {
  background-color: rgba(112, 255, 80, 0.33);
}

#cooking {
  background-color: rgba(220, 20, 60, 0.391);
}

#football {
  background-color: rgba(20, 113, 220, 0.339);
}

.postBody {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 8;

  background-color: rgba(245, 245, 245, 0.842);
  height: 100%;
  overflow: auto;
  width: 100%;
  align-self: center;
  justify-self: center;
  min-height: 200px;
}
